<!DOCTYPE html>
<html>
    <head>
        <title>0007-AUVCode-Display-Board</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="nav-bar">
            <button class="nav-bar-item">Home</button>
            <button class="nav-bar-item">Camera</button>
            <button class="nav-bar-item">Data</button>
            <button class="nav-bar-item">Settings</button>
        </div>
        <div class="camera-viewer">
            <video id="camera" src="http://localhost:5002/video_0" autoplay></video>
            <video id="camera" src="http://localhost:5002/video_1" autoplay></video>
            <div class="video-controls">
                <button class="video-control-item">Record</button>
                <button class="video-control-item">Snapshot</button>
            </div>
        </div>
        <div class="data-viewer">

        </div>
        <div class="settings-viewer">

        </div>
    </body>
</html>